
.A{
    margin-left: 10px;
}
.size{
    background-color: #09224F ;
    border: 0px;
    color: white;
    margin-left: 9px;
}
.padding{
    padding-left: 4px;;
}
.ng-invalid:not(form){
    border-left: 5px solid red;
}
.ng-valid:not(form){
    border-left: 5px solid green;
}