table{
    width: 400px;
    height: 500px;
    border: 1px ;
}
.rows{
    border: 1px solid;
}
.size{
    background-color:#5600fff7;
    border: 0px;
    text-align: center;
    color: white;
    width: 540px;
}
    

::ng-deep datatable-header.datatable-header{
    border: 1px solid;
}
.table-data-cell{
    border: 1px solid;
    background-color: #09004F;
}
::ng-deep datatable-body-cell.datatable-body-cell.sort-active.table-data-cell {
    border: 1px solid;
}
.user-table-wrapper{
    width: 40%;
}
::ng-deep .ngx-datatable .datatable-header {
    display: block;
    overflow: hidden;
    width: 70%;
}
.color{
    color: blue;
}
.modal-sm
{
  top: 50%;
  left: 50%;
  width:30em;
  height:18em;
  background-color: rgba(0,0,0,0.5);
}
::ng-deep .datatable-body-cell-label {
    text-align: center;
}

.filter-data{
    width: 25%;
    height: 5%;
}